/* HEADER */
.header {
    width: 80%;
    margin: 20px 10% 0 10%;
    display: flex;
    flex-direction: row;
}
.header-drop-link {
    text-decoration: none;
    color: rgb(150,150,150);
}
.header-usuario-link {
    text-decoration: none;
    color: rgb(150,150,150);
}
.header-carrinho-link {
    text-decoration: none;
    color: rgb(150,150,150);
    border: none;
    padding: 0;
    
}
.header-carrinho-link:hover {
    color: blue;
}
.header-amei-link {
    text-decoration: none;
    color: rgb(255, 0, 0);
}
.header-amei-link:hover {
    color: rgb(170, 0, 0);
}
.header-logout-link {
    text-decoration: none;
    color: rgb(150,150,150);
    background-color: rgb(0,0,0,0);
    border: none;
    padding: 0;
}
.header-login-link {
    text-decoration: none;
    color: rgb(150,150,150);
}
.header-pesquisa-link {
    text-decoration: none;
    color: rgb(150,150,150);
}
.header-itens {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.container-form-login {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80vh;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-form-login {
    margin-top: 10px;
}

.header-status {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    border: 1px solid grey;
    border-radius: 10px;
}

.container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 8px;
}

.container-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 8px;
    padding-bottom: 10px;
    margin: 8px;
    background-color: rgb(189, 189, 189);
    border-radius: 5px;
}

.card-text {
    text-align: center;
}

/* USER ACCOUNT IMAGE */

.container-user-account {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-account-img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.user-account-body {
    border-radius: 5px;
    margin-bottom: 2%;
    background-color: darkgrey;

    min-height: 500px;
    min-width: 60%;
}
.user-account-body-data-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2% 5%;
}
.user-account-body-data-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.user-account-body-data-list-input {
    border: 1px solid rgb(90, 90, 90);
    border-left-width: 3px;
    border-left-color: blue;
    border-radius: 2px;
}