.container-form-login {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80vh;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-form-login {
    margin-top: 10px;
}

.header-status {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    border: 1px solid grey;
    border-radius: 10px;
}

.container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 2%;
}

.container-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding-bottom: 2%;
    margin: 2%;
}