{% extends 'base.html' %}

{% block title %}Favoritos{% endblock %}

{% load static %} 

{% block content %}
<div class='container-cards'>
    {% for f in favorito %}
        <div class="container-card" style="width: 18rem;">
            <img class="card-img-top" src="{{ f.produto.image }}" alt="Card image cap">
            <div class="card-body"></div>
            <h5 class='card-text'>{{ f.produto }}</h5>
            <p class="card-text">
                {{ f.produto.desc}}
            </p>
            <h5 class="card-text">
                R$ {{ f.produto.price|floatformat:2 }}
            </h5>
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#Modal-{{ i.id }}">Adicionar ao Carrinho</button>

                    
            <form action='/favoritos_view_delete/' method='post'>
                {% csrf_token %}
                <input type='hidden' name='id_favorito' value='{{ f.id }}'>
                <input type="hidden" name="user" id='id_user' value="{{ user.id }}">
                <input type="hidden" name="produto" id='id_produto' value="{{ f.produto.id }}">
                <button type='submit' class="header-amei-link nav-link" style='border: none; background-color: rgb(0,0,0,0);'><spam class='material-icons-outlined'>delete</spam></button>
            </form>
             <!-- Modal -->
            <div class="modal fade" id="Modal-{{ i.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="/shop-car/add/" method='POST'>
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Deseja adicionar <strong>{{ i.title }}</strong> ao carrinho?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% csrf_token %}
                                <input type="hidden" value='{{user.id}}' name="user" id="id_user" >
                                <input type="hidden" value='{{f.produto.id}}' name="produto" id="id_produto">
                                <label for="id_quantity">Quantidade</label>
                                {{ form_shop_car.quantity }}
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-dark">Enviar</button>
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fechar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}