{% extends 'base.html' %}

{% block title %}Loja{% endblock %}

{% load static %} 

{% block content %}
<div>
    {{ msg }}
</div>
<div class='container-cards'>
    {% for i in item %}
    <div class="container-card" style="width: 18rem;">
        <img class="card-img-top" src="{% static i.file|cut:'app/static/' %}" alt="Card image cap">
        <div class="card-body"></div>
        <h5 class='card-title item-title'>{{ i.title }}</h5>
        <p class="card-text">
            {{ i.desc}}
        </p>
        <h5 class="{{ i.id }}-card-text">
            R$ {{ i.price|floatformat:2 }}
        </h5>
        


        <!-- Button trigger modal -->
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#Modal-{{ i.id }}" style='background-color: rgb(255, 255, 255);'>Adicionar ao Carrinho</button>
        <form action='/favoritos_view_add/' method='post'>
            {% csrf_token %}
                <input type="hidden" name="id-user" value="{{ user.id }}">
                <input type="hidden" name="id-item" value="{{ i.id }}">
            <button type='submit' class="header-amei-link nav-link" style='border: none; background-color: rgb(0,0,0,0);'><spam class='material-icons-outlined'>favorite_border</spam></button>
        </form>

        <!-- Modal -->
        <div class="modal fade" id="Modal-{{ i.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Deseja adicionar <strong>{{ i.title }}</strong> ao carrinho?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <form action='/shop-car/add/' method='post'>
                            {% csrf_token %}
                            <input type="hidden" name="id-user" value="{{ user.id }}">
                            <input type="hidden" name="id-item" value="{{ i.id }}">
                            <button class='btn btn-primary' type="submit">Adicionar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
