{% extends 'base.html' %}

{% block title %}Carrinho de compras{% endblock %}

{% block content %}
<div class="container">    
    <table class='table table-dark' style='margin-top: 10vh;'>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Preço</th>
                <th scope="col">Remover</th>
            </tr>
        </thead>
        <tbody> 
            {% for s in shop_car.items %} 
            <tr>
                <th scope="row">{{ s.id }}</th>
                <td>{{ s.title }}</td>
                <td>{{ s.quantity }}</td>
                <td>{{ s.unit_price }}</td>
                <td>
                    <form action="/shop-car/delete/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id-user" value="{{ user.id }}">
                        <input type="hidden" name="id-item" value="{{ s.id_car_item }}">
                        <button class='btn btn-primary' type='submit'>Remover</a>
                    </form>
                </td>
            </tr>
            {% endfor %}  
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>  
            <tr>
                <th scope="row"></th>
                <td><strong>Total da compra</strong></td>
                <td></td>
                <td>{{ total_price }}</td>
                <td></td>
            </tr>        
        </tbody>
    </table>
    <a href="{{ sdk.init_point }}" class='cho-container'></a>
</div>

    
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script>
    // Adicione as credenciais do SDK
    const mp = new MercadoPago('PUBLIC_KEY', {
            locale: 'pt-BR'
    });

    // Inicialize o checkout
    mp.checkout({
        preference: {
            id: 'YOUR_PREFERENCE_ID'
        },
        render: {
                container: '.cho-container', // Indique o nome da class onde será exibido o botão de pagamento
                label: 'Pagar', // Muda o texto do botão de pagamento (opcional)
        }
    });
    </script>
{% endblock %}