{% extends 'base.html' %}

{% load static %}
{% block title %}Carrinho de compras{% endblock %}

{% block content %}
<div class="container">    
    <table class='table' style='margin-top: 10vh; background-color: rgb(150, 150, 150);'>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Preço</th>
                <th scope="col" style='display:flex;justify-content: center;'>Remover</th>
            </tr>
        </thead>
        <tbody> 
            {% for s in shop_car %}
            <tr>
                <th scope="row">{{ s.id }}</th>
                <td>{{ s.produto }}</td>
                <td>{{ s.quantity }}</td>
                <td>{{ s.produto.price|floatformat:2 }}</td>
                <td style='display:flex;justify-content: center;'>
                    <button 
                    type="button" 
                    class="btn btn-danger" 
                    data-bs-toggle="modal" 
                    data-bs-target="#Modal-{{ s.id }}">Remover</button>
                </td>
            </tr>

            <!-- Modal -->
            <div class="modal fade" id="Modal-{{ s.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="/shop-car/delete/" method="POST">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Deseja do remover <strong>{{ s.produto }}</strong> do carrinho?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% csrf_token %}
                                <input type="hidden" value='{{s.id}}' name="id_item" required id="id_item" >
                                <input type="hidden" value='{{user.id}}' name="user" required id="id_user" >
                                <input type="hidden" value='{{s.produto.id}}' name="produto" required id="id_produto">
                            </div>
                            <div class="modal-footer">
                                <button type='submit' class='btn btn-danger'>Remover</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            </div>
                        </form>
                    </form>
                    </div>
                </div>
            </div>
            {% endfor %}  
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>  
            <tr>
                <th scope="row"></th>
                <td><strong>Total da compra</strong></td>
                <td></td>
                <td>{{ total_price|floatformat:2 }}</td>
                <td style='display:flex;justify-content: center;'><a href="{{ sdk.init_point }}" class='btn btn-success'>Pagar</a></td>
            </tr>        
        </tbody>
    </table>
</div>
</script>
{% endblock %}